html, body {
    height: 100%;
}

.container {
    height: 100%;
}

#main-col {
    display: flex;
    justify-content: center;
}

.login-form {
    /* add vertical spacing between each div formgroup inside these divs*/
    margin-bottom: 10px;

}