html, body {
    height: 100%;
}

.container {
    height: 100%;
}

#main-col {
    display: flex;
    justify-content: center;
}

.login-form {
    /* add vertical spacing between each div formgroup inside these divs*/
    margin-bottom: 10px;
}

.search-bar {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 8px 16px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style for the placeholder text */
.search-bar::placeholder {
    color: #aaa;
}

/* Remove the default border color when focused */
.search-bar:focus {
    border-color: #007bff;
}